@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
}

body {
    width: 200px;
    padding: 20px;
}

.links-row {
    margin-bottom: 30px;
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #323232;
  color: #fff;
  padding: 12px 20px;
  border-radius: 4px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.toast.show {
  opacity: 1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pick-button {
    width: 90px;
    padding: 3px;
    border: none;
    border-radius: 5px;
    background-color: #5c7cdc;
    color: #ffffff;
    margin-bottom: 10px;
}

.pick-button:hover {
    background-color: #42599d;
}

.button-row {
    display: flex;
    gap: 5px;
}

.top-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 5px;
}

.top-button:hover {
    background-color: #f3f3f3;
}

.top-img {
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
}

.color-background {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    margin: 10px 0;
}

.color-text {
    margin-bottom: 30px;
}

.create-palette-button {
    margin: 10px 0 20px 0;
    padding: 5px;
    border: 1px solid #6d007f;
    border-radius: 7px;
    background-color: #ffffff;
    font-size: 0.7rem;
    color: #6d007f
}

.create-palette-button:hover {
    background-color: #6d007f;
    color: #f3f3f3;
}

.palette {
    /* border: 1px solid red; */
    width: 187px; /* TODO: adjust this later */
    font-size: 0.7rem;
    margin-bottom: 15px;
}

.color-container {
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    min-height: 40px;
}

.color {
    /* border: 1px solid black; */
    height: 40px;
    width: 40px;
    border-radius: 2px;
    display: flex;
}

.color button {
    width: 3px;
    height: 3px;
    padding: 0;
    border: none;
    background-color: #ffffff;
}

.pal-color-img {
    margin: 0;
    padding: 0;
    width: 3px;
    height: 3px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 2px;
}

.right {
    display: flex;
    gap: 1px;
}

.pal-img {
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
}

.palette-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    border-radius: 0.2rem;
}

.plus-btn {
    background-color: #D2DCF0;
}

.plus-btn:hover {
    background-color: #bfc7d8;
}

.plus-img {
    color: #4E7DAE;
}

.edit-btn {
    background-color: #EFEFEF;
}

.edit-btn:hover {
    background-color: #d5d4d4;
}
.edit-btn {
    background-color: #EFEFEF;
}

.edit-img {
    color: #AAAAAA;
}

.trash-btn {
    background-color: #EBB0B0;
}

.trash-btn:hover {
    background-color: #cc9797;
}

.trash-img {
    color: #EC6868;
}

input {
    width: 115px;
    height: 13px;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #0065a9;
}

a:hover {
    color: #31439a;
}
